<div class="row">
        <h1 class="text-center">Listado de cronicas</h1>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="dato in cronicas">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="http://www.lacomarcadepuertollano.com/diario/2008_10_06/miniaturas/350X/2008_10_06_No_02-puerto.jpg" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <p class="list-group-item-text">
                        {{dato.cronica}}
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> Acciones </h2>
                    <a href="#/edit/{{dato.id}}" role="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button ng-click="remove(dato.id)" class="btn btn-default btn-lg btn-block trash" role="button"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
          </div>
        </div>
    </div>
