<div class="nav-side-menu">
    <div class="brand">
        <img alt="Brand" src="./img/LogoMarchaDeportiva.png" width="35%">
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#/home"><i class="fa fa-globe fa-lg"></i> Cronicas <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="#/home">List</a></li>
                    <li><a href="#/create">Add</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Resultados <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>Clasificacion</li>
                  <li>Jornada</li>
                  <li>Partido</li>
                </ul>
            </ul>
     </div>
</div>
